@font-face {
	font-family: 'cocacolaii';
	src: url('../fonts/coca-cola/cocacolaii.eot');
	src: local('cocacolaii'), url('../fonts/coca-cola/cocacolaii.woff') format('woff'), url('../fonts/coca-cola/cocacolaii.ttf') format('truetype');
}

.fontsforweb_fontid_1065 {
	font-family: 'cocacolaii' !important;
}

.login-user{
    display: flex;
}
.login-user .user{
  
    margin: 0px 0px 0px 5px;
    line-height: 10px;
}
.login-user .user h5{
    margin: 0;
    font-weight: 400;
    font-size: 14x;
}
.login-user .icon-menu{
    background: #e5192e;
    color: white;
    margin: 4px 0px
    
}
.login-user .icon-menu i{
    font-size: 18px;
    line-height: inherit;
}
.profile-pic-icon{
    height: 85px;
    width: 85px;
    background: #f0f0f0;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    -webkit-box-align: center;
    display: flex;
    -webkit-box-pack: center;
}
.profile-pic-icon i{
    font-size: 30px;
}
.profile-pic img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile-pic i {
    background: #dc3545;
    padding: 7px;
    color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0px 0px 0px -22px;
}
.text-right{
    text-align: right;
}
.field_error {
    color: red;
    font-size: 12px;
    font-weight: 700;
}
/* outlets icon  */

.outlet  .hi-icon:before {
    line-height: 92px;
   
}
.outlet .hi-icon-archive:before {
    content: "\F1A5";;
}

.outlet .hi-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #e4e4e4;
}
.outlet .hi-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: 0 0 0 0px rgb(255 255 255);
}
.hi-icon:before {
    font-family: "remixicon" !important;
    speak: none;
    font-size: 15px;
    line-height: 28px !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
    color: #e0e0e0;
}
#inner_outlet:hover .hi-icon:before {
    font-family: "remixicon" !important;
    speak: none;
    font-size: 15px;
    line-height: 28px !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
    color: red;
}
.outlet .submit{
    color: #51BB25 !important;
    font-size: 12px;
    display: inline-flex;
    font-weight: 500;
}
.outlet .score{
    
    position: absolute;
    right: 15px;
    font-size: 18px;
    color: white;
    bottom: 20px;
}


.outlet .address{
    color: #838383;
line-height: 14px;
    font-size: 0.675rem;
}
 .outlet .hi-icon:after {
    top: -1px;
    left: -2px;
    padding: 0;
    z-index: 10;
    border: 2px solid #e4e4e4;}
.outlet .hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#inner_outlet:hover .hi-icon:hover {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
#inner_outlet:hover .hi-icon:hover {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 0%);
    color: #fff;
}

#inner_outlet:hover .hi-icon:hover:before {
    color: red;
}
#inner_outlet:hover #icon_rotate:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
    border: 2px dashed red;
}


@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

.stable{
    font-size: 1.2rem;
    text-align: center;
}
.stable .badge{
    font-weight: 400;
    display: inline-flex;
}
.ot-bg{
    font-size: 11rem;
    position: fixed;
    color: #00000006;
    z-index: 1;
    left: 27%;
}
.log-main{
    display: flex;
}
.post-img{
    border-radius: 5px;
    width: 100%;
}
.delete-i{
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 999;
  
}
.delete-i i{
    background: #e5192e;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 15px;
}
.qs{
    font-size: 17px;
}
.qs small{
    font-size: 12px;
    margin-left: 10px;
}
@media (max-width: 575.98px) {
    .stable{
        font-size: 0.8rem;
        text-align: center;
    }
    .ot-bg {
        font-size: 4rem;
        left: 10%;
    }
    
    }
  
  @media (max-width: 767.98px) {
    .menu ul li {
        margin: 6px 0!important;
    }
      .m-p-0{
          padding: 0px !important;
      }
      .table tr td, .table tr th {
        padding: 5px;
    }
    .menu ul li a{
        display: grid;
        text-align: center; 
        font-size: 13px;
    line-height: 0; 
    }
    .form-check-inline {
        display: inline-block;
        margin-left: 1rem !important;
        padding-left: 1em !important;
        margin-right: 0 !important;
    }
   
    .menu ul li i {
        color: #fff;
        font-size: 25px;
    }
    .log-main{
        display: block;
    }
    .menu ul li:hover a .nav-text, .menu ul li:focus a .nav-text, .menu ul li:active a .nav-text{
   display: block !important;
        background: none;
        color: white;
    }
    .toast {
        margin-bottom: 40px;
    }
    .menu ul li a .nav-text {
        display: block !important;
        font-weight: 600;
    }
    .stat-widget {
        background: #e5192e;
        padding: 5px 8px;
        border-radius: 5px;
        margin: 5px 0px;
        position: relative;
    }
    .stat-widget .widget-icon {
        width: 30px;
        background: white;
        height: 30px;
        font-size: 16px;
    }
  }


  .im-delete{
      position: relative;
  }
  .im-delete a{
    background: #e5192e;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    display: inline-flex;
    right: 5%;
    top: 10px;
  }
  .im-delete i{
    font-size: 20px;

    margin: -5px 0px;
  }
  .log-div-1{
    height:100vh
  }
  .post-card{
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 6px;
    border: 1px solid #dddddd !important;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;   
  }
  .post-card .im{
    min-height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.post-card .post-time{
    font-size: 12px;
    text-align: left;
}
.post-card .card-header{
    background: #efefef;
    display: block;
    padding: 10px 10px 10px;
}
.post-card .card-header h6{
    line-height: 17px;
}
.post-card .card-header span{
    background: red;
    color: white;
    font-size: 12px;
    padding: 2px 11px;
    border-radius: 24px;
    float: right;
}
.post-card .bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 145px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .post-card .bg-text {
    color: white;
    font-weight: bold;
    z-index: 2;
    padding: 0px;
    text-align: center;
    position: relative;
    height: 150px;
  }
  .post-card .bg-text img{
    max-width: 100%;
    max-height: 100%;
  }
.post-card .card-body{
    padding: 0px;
    position: relative;
}
  .leader{
    padding: 6px 10px;
    background: aliceblue;
    border-radius: 10px;
    margin: 0px 0px 7px 0px;
  }
  .leader p{
    font-size: 1rem;
  }
  .leader i{
    font-size: 1.3rem;
    margin: 0 20px;
    color: #e5192e;
  }
  .leader .icon-circle {
    height: 26px;
    width: 26px;
    min-width: 26px;
    font-size: 14px;
  }
  .post-card .card-footer{
    padding: 3px 10px;
    background: #f5f5f5;
    color: #838383;
   
    font-size: 15px;
}
.log-btn{
    margin: 0% 0;
}
.log-btn .btn{
    color: white;
    margin: 20px 5px;
    border: 2px double white;
    background-image: linear-gradient(to right, red , #fdcd15);
    min-width: 135px;
    font-size: 18px;
    padding: 10px;
font-weight: 300;
  
}
.log-btn .btn:hover{
    color: #e5192e;
}
.pdf-modal{
    margin-top: 20px;
}
.pdf-modal .modal-body {
 
    padding: 0.2rem;
}
.login-box{
    padding: 0 30px;
}